In [ ]:
import pandas as pd
import sqlite3

### Read Data From CSV files - Data storate

In [ ]:
customers = pd.read_csv("customers.csv")
Customer_Retention = pd.read_csv("Customer_Retention.csv")
date = pd.read_csv("date.csv")
employee = pd.read_csv("employee.csv")
franchisee = pd.read_csv("franchisee.csv")
offers = pd.read_csv("offers.csv")
payment_type = pd.read_csv("payment_type.csv")
product = pd.read_csv("product.csv")
product_category = pd.read_csv("product_category.csv")
sales = pd.read_csv("sales.csv")
store = pd.read_csv("store.csv")
supplier_information = pd.read_csv("supplier_information.csv")
supplier_management_fact_table = pd.read_csv("supplier_management_fact_table.csv")

In [ ]:
Customer_Retention['Count_of_Transactions'] = Customer_Retention['Count_of_Transactions'].astype(str)
Customer_Retention['Frequency_of_Visit'] = Customer_Retention['Frequency_of_Visit'].astype(str)
supplier_management_fact_table['Supply_quantity'] = supplier_management_fact_table['Supply_quantity'].astype(str)
date['Year'] = date['Year'].astype(str)
date['Quarter'] = date['Quarter'].astype(str)
employee['Age'] = employee['Age'].astype(str)
employee['WagePhr'] = employee['WagePhr'].astype(str)
franchisee['NumOfMonths'] = franchisee['NumOfMonths'].astype(str)
offers['ActiveOrInactive'] = offers['ActiveOrInactive'].astype(str)
sales['Quantity'] = sales['Quantity'].astype(str)

In [ ]:
customers = customers.to_records(index=False)
Customer_Retention = Customer_Retention.to_records(index=False)
date = date.to_records(index=False)
employee = employee.to_records(index=False)
franchisee = franchisee.to_records(index=False)
offers = offers.to_records(index=False)
payment_type = payment_type.to_records(index=False)
product = product.to_records(index=False)
product_category = product_category.to_records(index=False)
sales = sales.to_records(index=False)
store = store.to_records(index=False)
supplier_information = supplier_information.to_records(index=False)
supplier_management_fact_table = supplier_management_fact_table.to_records(index=False)

### Create SQLite Database for RHC with Tables

In [ ]:
connection = sqlite3.connect("Roadhouse.db")
cursor = connection.cursor()

create_Customer_Retention = """CREATE TABLE IF NOT EXISTS Customer_Retention(
                Customer_RetentionID INTEGER PRIMARY KEY, 
                CustomerID  VARCHAR(20),
                Loyalty_Status VARCHAR(50) NOT NULL,
                StoreID VARCHAR(50) NOT NULL,
                Frequency_of_Visit VARCHAR(50),
                Count_of_Transactions VARCHAR(20),
                FOREIGN KEY (StoreID) REFERENCES store(StoreID),
                FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID)
                )"""
cursor.execute(create_Customer_Retention)


create_customers = """CREATE TABLE IF NOT EXISTS customers(
                CustomerID  VARCHAR(20) PRIMARY KEY, 
                LoyaltyCust VARCHAR(20) NOT NULL,
                FirstName VARCHAR(50) NOT NULL,
                LastName VARCHAR(50) NOT NULL,
                Gender VARCHAR(50),
                DateofBirth TEXT ,
                PhoneNumber VARCHAR(50),
                Email VARCHAR(50),
                Address VARCHAR(50),
                Povince VARCHAR(50),
                City VARCHAR(50),
                PostalCode VARCHAR(50)
                )"""
cursor.execute(create_customers)

create_date = """CREATE TABLE IF NOT EXISTS date(
                DateID  VARCHAR(20) PRIMARY KEY, 
                Calender_Date VARCHAR(20) NOT NULL,
                Day VARCHAR(50) NOT NULL,
                Month  VARCHAR(20) NOT NULL,
                Quarter  VARCHAR(20),
                Year  VARCHAR(20))"""
cursor.execute(create_date)

create_employee = """CREATE TABLE IF NOT EXISTS employee(
                EmployeeID VARCHAR(20) PRIMARY KEY, 
                EmpFName VARCHAR(20),
                EmpLName VARCHAR(20),
                Sex VARCHAR(20),
                Age VARCHAR(20),
                StoreID VARCHAR(20),
                WagePhr VARCHAR(20),
                FOREIGN KEY (StoreID) REFERENCES store(StoreID))"""

cursor.execute(create_employee)

create_franchisee = """CREATE TABLE IF NOT EXISTS franchisee(
                FranchiseeID VARCHAR(20) PRIMARY KEY, 
                FranchiseeName VARCHAR(20),
                OwnerID VARCHAR(20),
                DOI VARCHAR(20),
                DOT VARCHAR(20),
                DownPayment VARCHAR(20),
                MonthlyFee VARCHAR(20),
                NumOfMonths VARCHAR(20),
                Royalties_yearly VARCHAR(20))"""

cursor.execute(create_franchisee)

create_offers = """CREATE TABLE IF NOT EXISTS offers(
                DiscountID VARCHAR(20) PRIMARY KEY, 
                ActiveOrInactive VARCHAR(20),
                Offer_code VARCHAR(20),
                Discount VARCHAR(20))"""

cursor.execute(create_offers)

create_payment_type = """CREATE TABLE IF NOT EXISTS payment_type(
                payment_typeID VARCHAR(20) PRIMARY KEY, 
                type_of_sale_name VARCHAR(20),
                payment_type_name VARCHAR(20))"""

cursor.execute(create_payment_type)

create_product = """CREATE TABLE IF NOT EXISTS product(
                ProductID VARCHAR(20) PRIMARY KEY, 
                SupplierID VARCHAR(20),
                CategoryID VARCHAR(20),
                ProdcutName VARCHAR(20),
                FOREIGN KEY (SupplierID) REFERENCES supplier_information(SupplierID),
                FOREIGN KEY (CategoryID) REFERENCES product_category(CategoryID))"""

cursor.execute(create_product)

create_product_category = """CREATE TABLE IF NOT EXISTS product_category(
                CategoryID VARCHAR(20) PRIMARY KEY, 
                CategoryName VARCHAR(20),
                CategoryDesc VARCHAR(20),
                SubCategory VARCHAR(20),
                UnitCost VARCHAR(20),
                UnitPrice VARCHAR(20),
                Size VARCHAR(20))"""

cursor.execute(create_product_category)

create_sales = """CREATE TABLE IF NOT EXISTS sales(
                TransactionID VARCHAR(20) PRIMARY KEY,
                calendar_date VARCHAR(20), 
                StoreID VARCHAR(20),
                EmployeeID VARCHAR(20),
                CustomerID VARCHAR(20),
                ProductID VARCHAR(20),
                Quantity VARCHAR(20),
                Amount VARCHAR(20),
                DiscountID VARCHAR(20),
                payment_typeID VARCHAR(20),
                DateID VARCHAR(20),
                FOREIGN KEY (StoreID) REFERENCES store(StoreID),
                FOREIGN KEY (EmployeeID) REFERENCES employee(EmployeeID),
                FOREIGN KEY (CustomerID) REFERENCES customers(CustomerID),
                FOREIGN KEY (ProductID) REFERENCES product(ProductID),
                FOREIGN KEY (DiscountID) REFERENCES offers(DiscountID),
                FOREIGN KEY (payment_typeID) REFERENCES payment_type(payment_typeID),
                FOREIGN KEY (DateID) REFERENCES date(DateID))"""

cursor.execute(create_sales)

create_store = """CREATE TABLE IF NOT EXISTS store(
                StoreID VARCHAR(20) PRIMARY KEY, 
                FranchiseeID VARCHAR(20),
                Country VARCHAR(20),
                Province VARCHAR(20),
                City VARCHAR(20),
                PostalCode VARCHAR(20),
                FOREIGN KEY (FranchiseeID) REFERENCES franchisee(FranchiseeID))"""

cursor.execute(create_store)

create_supplier_information = """CREATE TABLE IF NOT EXISTS supplier_information(
                SupplierID  VARCHAR(20) PRIMARY KEY, 
                SupplierName VARCHAR(50) NOT NULL,
                SupplierLocation VARCHAR(50) NOT NULL)"""

cursor.execute(create_supplier_information)

create_supplier_management_fact_table = """CREATE TABLE IF NOT EXISTS supplier_management_fact_table(
                OrderID INTEGER PRIMARY KEY, 
                ProductID VARCHAR(20),
                StoreID VARCHAR(20),
                SupplierID VARCHAR(20),
                Order_Date TEXT CHECK (Order_Date > '2005-01-01'),
                Ship_Date TEXT CHECK (Ship_Date > '2005-01-01'),
                Unit_Cost FLOAT,
                Supply_quantity VARCHAR(20) CHECK (Supply_quantity > 0),
                FOREIGN KEY (SupplierID) REFERENCES supplier_information(SupplierID),
                FOREIGN KEY (ProductID) REFERENCES product(ProductID),
                FOREIGN KEY (StoreID) REFERENCES store(StoreID))"""

cursor.execute(create_supplier_management_fact_table)

connection.commit()

### Inserting data from DF to Database table

In [ ]:
def insert_Customer_Retention(recordlist):
    insert_Customer_Retention = """ INSERT INTO Customer_Retention 
    (Customer_RetentionID, CustomerID, Loyalty_Status, StoreID, Frequency_of_Visit, Count_of_Transactions)
    VALUES (?,?,?,?,?,?)"""
    cursor.executemany(insert_Customer_Retention, recordlist)
    connection.commit()
    print("Customer_Retention successfully inserted")

def insert_customers(recordlist):
    insert_customers = """ INSERT INTO customers 
    (CustomerID, LoyaltyCust, FirstName, LastName, Gender, DateofBirth, PhoneNumber, Email, Address, Povince, City, PostalCode )
    VALUES (?,?,?,?,?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_customers, recordlist)
    connection.commit()
    print("customers successfully inserted")
    
def insert_date(recordlist):
    insert_date = """ INSERT INTO date 
    (DateID, Calender_Date, Day, Month, Quarter, Year) VALUES (?,?,?,?,?,?)"""
    cursor.executemany(insert_date, recordlist)
    connection.commit()
    print("date successfully inserted")

def insert_employee(recordlist):
    insert_employee = """ INSERT INTO employee 
    (EmployeeID, EmpFName, EmpLName, Sex, Age, StoreID, WagePhr) VALUES (?,?,?,?,?,?,?)"""
    cursor.executemany(insert_employee, recordlist)
    connection.commit()
    print("employee successfully inserted")

def insert_franchisee(recordlist):
    insert_franchisee = """ INSERT INTO franchisee 
    (FranchiseeID, FranchiseeName, OwnerID, DOI, DOT, DownPayment, MonthlyFee, NumOfMonths, Royalties_yearly) VALUES (?,?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_franchisee, recordlist)
    connection.commit()
    print("franchisee successfully inserted")

def insert_offers(recordlist):
    insert_offers = """ INSERT INTO offers 
    (DiscountID, ActiveOrInactive, Offer_code, Discount) VALUES (?,?,?,?)"""
    cursor.executemany(insert_offers, recordlist)
    connection.commit()
    print("offers successfully inserted")

def insert_payment_type(recordlist):
    insert_payment_type = """ INSERT INTO payment_type 
    (payment_typeID, type_of_sale_name, payment_type_name) VALUES (?,?,?)"""
    cursor.executemany(insert_payment_type, recordlist)
    connection.commit()
    print("payment_type successfully inserted")

def insert_product(recordlist):
    insert_product = """ INSERT INTO product 
    (ProductID, SupplierID, CategoryID, ProdcutName) VALUES (?,?,?,?)"""
    cursor.executemany(insert_product, recordlist)
    connection.commit()
    print("product successfully inserted")

def insert_product_category(recordlist):
    insert_product_category = """ INSERT INTO product_category 
    (CategoryID, CategoryName, CategoryDesc, SubCategory, UnitCost, UnitPrice, Size) VALUES (?,?,?,?,?,?,?)"""
    cursor.executemany(insert_product_category, recordlist)
    connection.commit()
    print("product_category successfully inserted")

def insert_sales(recordlist):
    insert_sales = """ INSERT INTO sales 
    (calendar_date, TransactionID, StoreID, EmployeeID, CustomerID, ProductID, Quantity, Amount, DiscountID, payment_typeID, DateID ) VALUES (?,?,?,?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_sales, recordlist)
    connection.commit()
    print("sales successfully inserted")

def insert_store(recordlist):
    insert_store = """ INSERT INTO store 
    (StoreID, FranchiseeID, Country, Province, City, PostalCode) VALUES (?,?,?,?,?,?)"""
    cursor.executemany(insert_store, recordlist)
    connection.commit()
    print("store successfully inserted")

def insert_supplier_information(recordlist):
    insert_supplier_information = """ INSERT INTO supplier_information 
    (SupplierID, SupplierName, SupplierLocation) VALUES (?,?,?)"""
    cursor.executemany(insert_supplier_information, recordlist)
    connection.commit()
    print("supplier_information successfully inserted")

def insert_supplier_management_fact_table(recordlist):
    insert_supplier_management_fact_table = """ INSERT INTO supplier_management_fact_table 
    (OrderID, ProductID, StoreID, SupplierID, Order_Date, Ship_Date, Unit_Cost, Supply_quantity) VALUES (?,?,?,?,?,?,?,?)"""
    cursor.executemany(insert_supplier_management_fact_table, recordlist)
    connection.commit()
    print("supplier_management_fact_table successfully inserted for supplier_management_fact_table")

In [ ]:
insert_Customer_Retention(Customer_Retention)
insert_customers(customers)
insert_date(date)
insert_employee(employee)
insert_franchisee(franchisee)
insert_offers(offers)
insert_payment_type(payment_type)
insert_product(product)
insert_product_category(product_category)
insert_sales(sales)
insert_store(store)
insert_supplier_information(supplier_information)
insert_supplier_management_fact_table(supplier_management_fact_table)

Customer_Retention successfully inserted
customers successfully inserted
date successfully inserted
employee successfully inserted
franchisee successfully inserted
offers successfully inserted
payment_type successfully inserted
product successfully inserted
product_category successfully inserted
sales successfully inserted
store successfully inserted
supplier_information successfully inserted
supplier_management_fact_table successfully inserted for supplier_management_fact_table

#### Extract information from SQL database

In [ ]:
cursor.execute("SELECT * FROM Customer_Retention")

results = cursor.fetchall()
print(results)

[(1, 'C0001', 'Y', 'S0002', '3', '5'), (2, 'C0002', 'N', 'S0008', '15', '15'), (3, 'C0003', 'N', 'S0009', '24', '27'), (4, 'C0004', 'Y', 'S0001', '23', '31'), (5, 'C0005', 'N', 'S0008', '6', '12'), (6, 'C0006', 'N', 'S0007', '25', '27'), (7, 'C0007', 'Y', 'S0013', '13', '16'), (8, 'C0008', 'Y', 'S0012', '11', '11'), (9, 'C0009', 'Y', 'S0002', '11', '16'), (10, 'C0010', 'Y', 'S0003', '16', '20'), (11, 'C0011', 'N', 'S0005', '26', '31'), (12, 'C0012', 'Y', 'S0011', '27', '35'), (13, 'C0013', 'N', 'S0015', '25', '30'), (14, 'C0014', 'N', 'S0014', '14', '24'), (15, 'C0015', 'Y', 'S0001', '9', '15'), (16, 'C0016', 'N', 'S0004', '15', '16'), (17, 'C0017', 'N', 'S0010', '19', '19'), (18, 'C0018', 'Y', 'S0010', '29', '31'), (19, 'C0019', 'N', 'S0006', '25', '25'), (20, 'C0020', 'Y', 'S0003', '22', '24'), (21, 'C0021', 'Y', 'S0002', '24', '27'), (22, 'C0022', 'N', 'S0006', '12', '14'), (23, 'C0023', 'Y', 'S0008', '30', '31'), (24, 'C0024', 'N', 'S0011', '7', '14'), (25, 'C0025', 'Y', 'S0005', '18', '19')]

### Trigger Creation

In [ ]:
create_email_trigger = """CREATE TRIGGER email_validation(
BEFORE INSERT ON customers
BEGIN 
	SELECT 
	CASE 
		WHEN NEW.Email NOT LIKE "%_@%_.__%"
		OR NEW.Email NOT LIKE "%_@__%.__"
		THEN RAISE(ABORT, "Invalid email entry")
		END;
	
END;)"""

In [ ]:
#Example Code
#INSERT INTO customers(CustomerID, LoyaltyCust, FirstName, LastName, Gender, DateofBirth, PhoneNumber, Email, Address, Povince, City, PostalCode)
#VALUES ("C0026", "Y","Kofi","Manu","M","1/8/1984","729-980-1669","kofimanu@","2647 MacLaren Street","ON","Ottawa","K1P 5M7")

In [ ]:
create_custID_trigger = """(CREATE TRIGGER custID_validation
BEFORE INSERT ON customers
BEGIN 
	SELECT 
	CASE 
		WHEN NEW.CustomerID NOT LIKE "%C"
		THEN RAISE(ABORT, "Invalid CustomerID entry")
		END;
	
END;)"""

In [ ]:
#Example Code
#INSERT INTO customers(CustomerID, LoyaltyCust, FirstName, LastName, Gender, DateofBirth, PhoneNumber, Email, Address, Povince, City, PostalCode)
#VALUES ("B0026", "Y","Kofi","Manu","M","1/8/1984","729-980-1669","kofimanu@","2647 MacLaren Street","ON","Ottawa","K1P 5M7")

#### Close the connection with database

In [ ]:
connection.close()